*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
:root{
    --light:#ffffff;
    --light2:#eaecec;
    --light3:#cecaca;
    --light4:#dad8d8;
    --tint:rgb(236, 161, 30);
    --color4:rgb(133, 131, 131);
    --color5_l:#525050;
    --color5:#343333;
    --accent: #2270ca;
    --accent2:#76b3f9a5;
    --accent_l: #76b3f91c;
    --x:0px;
    --y:0px;
}
.links{
    width:100%;
    height: auto;
    display:flex;
    justify-content:flex-start;
    gap:10px;
    align-items: center;
    margin-top:20px;
    padding-top: 10px;
    border-top:solid 1px var(--light3);
}

.link:nth-child(1){
    background-color:var(--light);
    color:var(--accent);
}
.link{
    background-color:var(--accent);
    color:var(--light);
    width:auto;
    height:35px;
    border:solid 1px var(--accent);
    border-radius:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px 16px;
}
html{
    scroll-behavior: smooth;
    transition:0.5s;
}

/* 
--light:#0b0603;
--light2:#3a2c21;
--light3:#f8d497;
--color4:#b3996dec;
--color5_l:#525050;
--color5:#ffffff;
--accent: #e8a839;
--accent2:#dc900c41;
--accent_l:#e8a83941; */

#loading{
    width:100%;
    height:100vh;
    position: fixed;
    background-color:var(--light);
    display: flex;
    justify-content:center;
    align-items: center;
    top:0px;
    left:0px;
    z-index:30;
    transition:2s;
}
#loadAnim{
    width:104px;
    height:104px;
    background:linear-gradient(#cead09,#e71953,#008069,#e77d19);
    border-radius: 50%;
    display: flex;
    position:absolute;
    justify-content:center;
    align-items: center;
    animation: rotateon 1s linear infinite forwards;
}
#loading2{
    width:100px;
    height:100px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    padding:10px;
    padding-top: 12px;
    background-color:var(--light);
}

#handshake{
    width:40px;
    height: 40px;
    border-radius: 50%;
    display: none;
}
#about{
    margin-top:30px;
}

#handshake img{
    width:100%;
    height:100%;
}
#hero{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.loader{
    width:100%;
    height: 100%;
    border-radius:inherit;
    background-color: var(--light2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:2;
    position: absolute;
    opacity:1;
}
#load{
    width:40px;
    height:40px;
    animation:rotateon 1s linear infinite;
}
img{
    pointer-events: none;
}
.blocks{
    display: none;
}
a{
    text-decoration:none;
}
#span1{
    font-weight: 900;
    font-size:1.5rem;
    margin-bottom:5px;
}
#myCanvas{
    position:fixed;
    top:0px;
    left:0px;
    z-index:20;
    pointer-events: none;
}
#profile{
    width:37px;
    height: 37px;
    border-radius:50%;
    border:solid 2px var(--accent);
    padding:2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#profile img{
    border-radius: inherit;
}
#skilled{
    display: flex;
    gap:5px;
    flex-wrap: wrap;
}
body{
    width:100%;
    height:auto;
    background-color: var(--color4);
    color:var(--color5);
    font-family: "Raleway", sans-serif;
    cursor:none;
    overflow-x:hidden;
}
li{
    list-style: none;
}
body::-webkit-scrollbar{
    width:5px;
    height: 10px;
}
body::-webkit-scrollbar-track{
    background-color:var(--light);
    position: absolute;
}
body::-webkit-scrollbar-thumb{
    width:5px;
    height: 10px;
    border-radius:5px;
    height:auto;
    background-color:var(--accent);
}
ul{
    list-style-type:none;
}
h1{
    font-size:1.5rem;
    font-weight:900;
    position: relative;
}
h1::first-letter{
    /* background-color:var(--accent); */
    color:var(--accent);
}
h1::after{
    background-color:var(--accent_l);
    content:' ';
    width:2rem;
    height:7px;
    position:absolute;
    display: block;
    bottom:2px;
    right:0px;
}
h2{
    font-size:1.2rem;
    font-weight:900;
    margin-bottom:10px;
}
img{
    width:100%;
    height:100%;
}
nav{
    width:100%;
    height:85px;
    display: flex;
    flex-direction: column;
    z-index:5;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--light3);
    position:sticky;
    background-color:var(--light);
    top:-20px;
    box-shadow:0px 1px 3px -3px black;
}
button{
    width:auto;
    background-color: var(--accent);
    height:45px;
    display:flex;
    padding:10px 16px;
    font-size: 1rem;
    border-radius:30px;
    border: 1px solid var(--accent);
    font-family: "Raleway", sans-serif;
    justify-content: center;
    align-items: center;
    color:var(--light);
    position: relative;
    overflow: hidden;
    cursor:pointer;
    font-weight: 700;
    pointer-events: all;
    animation-name: " ";
    animation-duration:0.2s;
}
.curve{
    background-color: var(--light2);
}
.bubble{
    width:10px;
    height:10px;
    position: absolute;
    border-radius:50%;
    background-color: var(--accent);
}
#background{
    display: none;
    width:100%;
    height:100%;
    position:fixed;
    background-color: var(--light);
    top:0px;
}
#excl{
    color:var(--accent);
}
#text1{
    text-align: center;
    font-size:1rem;
    font-weight:700;
}
#bold{
    font-weight:900;
    font-size:1.2rem;
    font-family: "Playwrite GB S",'cursive';
    /* color:var(--accent); */
    color: var(--accent);
}
#animator{
    position:absolute;
    width:5px;
    height:5px;
    pointer-events: none;
    display: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #0000006c;
    animation:showup .7s linear forwards;
}
#stone{
    width:200px;
    height: 200px;
    background-color: green;
    border-radius: 50%;

}
#submit{
    width: auto;
    padding:5px 16px;
    border-radius:30px;
    display: flex;
    border: 1px solid var(--accent);
    font-family: "Raleway", sans-serif;
    justify-content: center;
    align-items: center;
    color:var(--light);
    cursor:none;
    height:35px;
    font-weight: bold;
    background-color: var(--accent);
}
#submit_btn{
    display: flex;
    align-items: center;
    justify-content:right;
}
.container{
    height: auto;
    width:100%;
    max-width:1100px;
    margin:auto;
    position: relative;
    padding:40px 10px;
}
.plot {
    width: 200px;
    height: 200px;
    perspective: 800px;
    background-color:var(light);
    pointer-events: all;
}
.plot:hover .cube{
    animation:rotate .5s linear forwards;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: 5s linear forwards;
    filter:drop-shadow(1px 1px 0px 3px black)
}
.right{
    float:right;
}
.left{
    float:left;
}
.mic{
    width:35px;
    height:20px;
    border-radius:15px;
    position: fixed;
    bottom:50px;
    right:50px;
    padding:3.5px;
    z-index:2000;
    transition:1s;
    background-color:var(--accent_l);
}
.right{
    float:right;
}
.left{
    float:left;
}
.knob{
    cursor:pointer;
    width:13px;
    height:13px;
    border-radius:50%;
    display: flex;
    padding:.5px;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
}
.face {
    position: absolute;
    width: 200px;
    height: 200px;
    background:radial-gradient(var(--light),var(--accent2));
    border:1px var(--light2) solid;
    border-radius:15px;
    text-align: center;
}

.face1  { transform: rotateY( 0deg) translateZ(100px); }
.face2   { transform: rotateZ(180deg)  rotateY(180deg) translateZ(100px); }
.face3   { transform:rotateY(-90deg) translateZ(100px);}
.face4  { transform: rotateY( 90deg) translateZ(100px) }
.face5    { transform: rotateX( 90deg) translateZ(100px);}
.face6 { transform: rotateX(-90deg) translateZ(100px); }

#text{
    text-align: center;
    font-weight: 700;
    font-size:1.5rem;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}
#large_text{
    font-size:1.9rem;
    font-weight:900;
}
#welcome{
    font-weight:900;
}
nav .container{
    height:65px;
    display: flex;
    justify-content: space-between;
    padding:8px 5px;
}
.logo{
    width:55px;
    height:55px;
}
.logo:hover{
    animation-name:twitch;
    animation-duration:.5s;
}
.nav-items{
    display: flex;
    justify-content: flex-end;
    height:auto;
    width: auto;
    gap:10px;
    align-items: center;
}
#section1{
    height:calc(100vh - 85px);
    max-height:900px;
    min-height:400px;
}
#section1 .container{
    height:100%;
    display: flex;
    position: relative;
    justify-content:center;
    flex-direction:column-reverse ;
    padding-left: 10px;
    padding-right: 10px;
    gap:70px;
    pointer-events: none;
}
section:nth-child(2), section:nth-child(4){
    background-color:var(--light2);
}
.col1_1, .col2_1{
    width:100%;
    height:auto;
    display:flex;
    justify-content:center;
    align-items: center;
}
.col1_1{
    flex-direction: column;
    gap: 9px;
}
header{
    margin-bottom:60px;
    width: 100%;
    height: auto;
}
#header1,#header2,#header3{
    transform:translateX(-100px);
    opacity:0;
    transition:1s;
}
.header{
    display:flex;
    width: 100%;
    height:60px;
    justify-content: space-between;
    align-items: center;
}
.num{
    position:absolute;
    z-index:1;
    color:transparent;
    top:30px;
    left:50px;
    width:100%;
    height:100%;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    font-weight: 900;
    font-size:10rem;
    -webkit-text-stroke-color:var(--accent_l);
    /* -webkit-text-stroke-color:var(--color4); */
    -webkit-text-stroke-width:2px;
}
.number{
    position:relative;
    width: 50px;
    height:50px;
}
.projects{
    width: auto;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    flex-shrink:0;
    justify-content: center;
    align-items: flex-start;
    gap:40px;
    max-width:800px;
    margin:auto;
}
.project{
      width:320px;
      height:320px;
      border-radius:10px;
      display: flex;
      flex-direction:column;
      background-color:var(--light);
      justify-content: space-between;
      padding:10px;
      box-shadow:0px 0px 2px -1px black;
      cursor: pointer;
      border:1.5px solid var(--light3);
      position: relative;
      transition:.5s ease-in-out;
}


.project:hover::after{
    height:0%;
    background-color:transparent;
    color:transparent;
    text-shadow:0px 0px 0px;
}
.project::after{
    content:'';
    width:100%;
    text-shadow:0px 0px 6px rgb(12, 12, 12); 
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#0000007c;
    color:var(--light);
    font-weight:700;
    top:0px;
    font-size:1.2rem;
    left:0px;
    position: absolute;
    border-radius:inherit;
    transition:.6s;
    pointer-events: none;
}
.project1::after{
    content:'music player'
}
.project2::after{
    content:'space_tourism'
}
.project3::after{
    content:'e commerce website'
}
.project4::after{
    content:'portfolio-x'
}
.project5::after{
    content:'wetube'
}

.image_icon{
    width:100%;
    height:100%;
    display: flex;
    border-radius:inherit;
    position:relative;
    justify-content: center;
    align-items: center;
    border:solid 1.5px var(--light3);
    pointer-events: none;
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y:center;
    background-size:cover;
}
.image_icon img{
    border-radius:inherit;
}
#version{
    width:100%;
    background-color:rgb(52, 51, 51);
    height:20px;
    font-size:0.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 20px;
}
#v{
    background:linear-gradient(120deg,yellow,rgb(117, 179, 230), rgb(201, 80, 217),yellow);
    color:transparent;
    background-clip:text;
    width:auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    animation:chameleon 2s infinite ease;
    background-size: 200% 200%;
}
#cover{
    width:100%;
    height: 100%;
    position: fixed;
    display:none;
    /* opacity: 0; */
    justify-content: center;
    align-items: center;
    z-index:19;
    background-color:#00000050;
    /* animation: grow .5s linear forwards; */
}
.codal{
    width:auto;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
.close{
    width:30px;
    height:30px;
    border-radius: 50%;
    border:var(--accent) 1.5px solid;
    position: absolute;
    top:10px;
    right:10px;
    padding:0px;
    background-color:transparent;
}
#modal{
    width: auto;
    height: auto;
    display:none;
    flex-direction:column;
    padding: 35px 15px 30px 15px;
    background-color:var(--light);
    border-radius:20px;
    border:solid 1px var(--light3);
    justify-content:center;
    gap:20px;
    position:relative;
    align-items: center;
    animation:drop .5s linear forwards;
    box-shadow:0px 0px 3px -1px;
}
.hd{
    font-weight:500;
    font-size:1.2rem;
}
#name{
    font-size:1.5rem;
    font-weight: 900;
}
#personal{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}
#social_links{
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
#social_links li{
    width:20px;
    height: 20px;
    border-radius: 50%;
}

#role{
    font-size: 1rem;
    font-weight:700;
}
#information{
    display:flex;
    flex-direction: column;
    width:100%;
    align-items: center;
}
#description{
    width:320px;
    height: auto;
    font-size: 15px;
    text-align: left;
    max-height:230px;
    color:var(--color5);
    overflow-y:scroll;
    padding-right:20px;
    position: relative;
}
#description::-webkit-scrollbar{
    width:3px;
    background-color:var(--light2);
    border-radius:5px;
}
#description::-webkit-scrollbar-thumb{
    width:5px;
    height:7px;
    background-color: var(--accent);
    border-radius:5px;
}
#profile_picture{
    width:150px;
    height: 150px;
    border-radius:50%;
    border:solid 2px var(--accent);
    justify-content: center;
    align-items: center;
    padding:5px;
    display:flex;
}
#profile_picture img{
    border-radius: inherit;
    border: solid 1px var(--accent);
}
#info{
    width:23px;
    height:23px;
    background-color:var(--light);
    border-radius:50%;
    position: absolute;
    padding:3px;
    top:-5px;
    left:-5px;
}
.skill,.skill2{    
    height:auto;
    padding:6px 12px;
    border-radius: 20px;
    border:1px solid var(--light3);
    display:flex;
    opacity:0;
    transform:scale(0.8);
    transition:.5s;
    justify-content:center;
    gap:5px;
    align-items: center;
    width: auto;
    font-weight:500;
}
.skill2{
    opacity:1;
    transform:scale(1);
}
.icons{
    border:1px solid var(--color4);
    /* background-color:var(--light2); */
    width:1.5rem;
    padding:5px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
}
.icons img{
    width: 100%;
    height:100%;
}

.skills{
    flex: 1;
    height:auto;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    gap:40px;
}
.list{
    margin-bottom:10px;
    font-weight:700;
}
.frontend, .backend,.general{
    height:auto;
    display:flex;
    gap:5px;
    flex-wrap: wrap;
}
section{
    background-color: var(--light);
    width:100%;
    height:auto;
    overflow-x:hidden;
    position:relative;
}

#section2 .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.more{
    margin-top: 20px;
    width:100%;
    height:auto;
    display: none;
    width:auto;
    height:auto;
    bottom:0px;
    padding:10px;
}
#open{
    width:auto;
    height:auto;
    color:var(--accent);
}
p{
    color:var(--color5);
    line-height:1.2;
    font-size: 1rem;
}
.contact{
    width:100%;
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: space-around;
    gap:40px;
}
.socials{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.social_media{
    width:auto;
    padding:10px 10px;
    border:1px solid var(--light3);
    border-radius:20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    min-width:340px;
    cursor: pointer;
    transition:.8s;
}
.social_media:hover .small_icon{
    margin-right:7px;
}

.social_media:hover #line{
    color:var(--accent);
}

.small_icon{
    width:20px;
    height: 20px;
    transition:.8s;
}
#line{
    font-weight:900;
    padding-right:5px;
    border-right:2px solid var(--color5);
}

input{
    width:300px;
    height:40px;
    border-radius:10px;
    background-color: transparent;
    border:solid 1px var(--light3);
    padding:0px 10px;
    caret-color: var(--accent);
    font-size:1rem;
}

input:focus, textarea:focus{
   outline-color:var(--accent);
}

input::placeholder{
    color:var(--light3)
}

label{
    font-weight: 700;
    margin-bottom:5px;
    color:var(--color5_l)
}

.input{
    display: flex;
    flex-direction: column;
    z-index: 2;
}

textarea{
    padding:10px 10px;
    width:300px;
    height:120px;
    background-color:transparent;
    border-radius:15px;
    border:solid 1px var(--light3);
    resize: none;
}

a{
    color:var(--color5)
}

form{
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    width:auto;
    height: auto;
    padding:20px;
    padding-top:50px;
    justify-content:center;
    gap:15px;
    position:relative;
    border-radius:25px;
    box-shadow:0px 0px 4px -2px black;
    overflow:hidden;
}

footer{
    width:100%;
    position: relative;
    background-color:rgb(52, 51, 51);
    z-index: 2;
}

footer .container{
    background-color:rgb(52, 51, 51);
    display: flex;
    flex-direction: column;
    color:var(--light);
    font-size:0.8rem;
}

#swap_tag{
    display: flex;
    flex-direction: column;
}

.chat{
    width:300px;
    height:300px;
    position:absolute;
    top:-70px;
    left:-40px;
    border-radius:50%;
    background-color:var(--accent);
    padding:8px;
    transform:rotateZ(-30deg);
    z-index:0;
    opacity:7%;
}

.modal2{
    width:96%;
    max-width:700px;
    height:auto;
    border-radius:20px;
    background-color: var(--light);
    box-shadow:0px 0px 3px -1px;
    display:flex;
    padding:15px;
    padding-top:60px;
    justify-content: center;
    align-items: center;
    position: relative;
    animation:drop .5s linear forwards;
    cursor: pointer;
}

#tag{
    font-size:1.2rem;
    color: #59a1f4;
    font-weight:900;
}

#swap{
    display:flex;
    flex-direction: column;
    margin-bottom:30px;
}

.modal2 ul{
    width:auto;
    display:flex;
}

.frame{
    width:260px;
    border-radius: 15px;
    aspect-ratio:16/9;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items: center;
    position: relative;
    background-color: var(--light2);
}

.particles{
    display: none;
}

iframe{
    transform:scale(0.25);
    aspect-ratio:16/9;
    border-radius: inherit;
    width:400%;
    height: 400%;
}

.content{
    width:100%;
    height:100%;
    border-radius: inherit;
    padding:10px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
#scroll{
    display: none;
}

.description{
    width:100%;
    height:auto;
    display: flex;
    flex-direction:column-reverse;
    gap:20px;
}

.skillful{
    display: flex;
    width:auto;
    height: auto;
    justify-content:space-between;
    align-items: center;
}

.abt_project{
    flex: 1;
}

.title{
    font-size:1.5rem;
    font-weight:900;
}

@media screen and (max-width:330px){
  .plot{
    display: none;
  }
  #section1 .container{
    justify-content:center;
    gap:0px;
    align-items: center;
  }
  input,textarea{
    width:270px;
  }
  .social_media{
    min-width:310px;
  }
  #profile_picture{
    width:120px;
    height:120px;
  }
  .project{
    width:300px;
    height:300px;
  }
  .modal2{
    padding-top:30px;
  }
  .content{
    gap:5px;
  }
  .description{
    gap:10px;
  }
  .tiptip{
    margin-bottom:5px;
    font-size:1rem;
  }
  .frame{
    width:200px;
  }
  #modal{
    gap:10px;
    padding: 20px 15px 20px 15px
  }
  .skill2{
    padding: 4px 12px;
  }
  .links{
    margin-top:5px;
  }
  #description{
    max-height:200px;
    max-width:280px;
  }
  #name{
    font-size:1.4rem;
  }
  #background{
    display: none;
  }
  .title{
    font-size:1.2rem;
  }
}
@media screen and (min-width:800px){
    .contact{
        flex-direction:row;
    }
    #modal{
        padding: 35px 20px 30px 20px
    }
    #background{
        display:flex;
    }
    .modal2{
        width:90%;
        max-width:700px;
        height:auto;
        border-radius:20px;
        background-color: var(--light);
        box-shadow:0px 0px 3px -1px;
        display:flex;
        padding:30px;
        padding-top:60px;
        justify-content: center;
        align-items: center;
        position: relative;
        animation:drop .5s linear forwards;
    }
    .modal2 ul{
        width:auto;
        display:flex;
    }
    .links{
        justify-content:flex-end;
    }
    .frame{
        width:252px;
        border-radius: 15px;
        aspect-ratio:16/9;
        overflow:hidden;
        display:flex;
        justify-content:center;
        align-items: center;
        position: relative;
        background-color: var(--light2);
    }
    iframe{
        transform:scale(0.25);
        aspect-ratio:16/9;
        border-radius: inherit;
        width:400%;
        height: 400%;
    }
    .content{
        width:100%;
        height:100%;
        border-radius: inherit;
        padding:10px;
        display: flex;
        flex-direction: column;
        gap:20px;
    }
    .description{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: row;
        gap:40px;
    }
 
    .abt_project{
        flex: 1;
    }
    .title{
        font-size:1.5rem;
        font-weight:900;
    }
    .plot {
        width: 250px;
        height: 250px;
    }
    .face{
        width:250px;
        height: 250px;
    }
    .face1  { transform: rotateY( 0deg) translateZ(125px); }
    .face2   { transform: rotateZ(180deg)  rotateY(180deg) translateZ(125px); }
    .face3   { transform:rotateY(-90deg) translateZ(125px);}
    .face4  { transform: rotateY( 90deg) translateZ(125px) }
    .face5    { transform: rotateX( 90deg) translateZ(125px);}
    .face6 { transform: rotateX(-90deg) translateZ(125px); }
    #span1{
        font-size:2rem;
    }
    form:hover{
        animation: twitch .5s linear forwards;
    }
    #handshake{
        display: block;
    }
    #section1 .container{
        justify-content:space-evenly;
        padding-top: 70px;
    }
    #section1{
        min-height:0px;
    }
}
@media screen and (min-width:900px){
    .project{
        width:230px;
        height: 230px;
    }
    #description{
        width:350px;
        font-size: 15px;
    }
    .projects{
        gap:20px;
     }
    .container{
        width:90%;
    }
    .socials{
        width: auto;
    }
    #text{
        text-align:left;
        font-size:2rem;
    }
    #section1 .container{
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        padding-top:0px;
        gap:0px;
    }
   #text1{
        text-align:left;
        font-size:1.2rem;
    }
    .col1_1{
        flex-direction: column;
        align-items: flex-start;
    }
    #span1{
        font-weight: 900;
    }
    
}
@media screen and (min-width:1060px){
    footer .container{
        flex-direction: row;
        justify-content: space-between;
    }
    .num{
         top:30px;
        left:30px;
    }
    #text1{
        max-width:450px;
    }
    .pageid{
        width:8px;
        height:8px;
        border-radius:50%;
        background-color:var(--color5);
        transition:0.5s;
        display:flex;
        justify-content: center;
        align-items:center;
        position: relative;
    }
    .pageid:hover, .scroll-cl:hover{
        transform:scale(1.5);
    }

    .pageid::after{
        content:"";
        width:auto;
        height:auto;
        display: none;
        justify-content: center;
        align-items: center;
        padding:5px;
        border-radius: 5px;
        border:solid 1px var(--light);
        background-color:var(--color5);
        position: absolute;
        right:18px;
        top:calc(height/2);
        font-size:0.5rem;
        color:var(--light);
        text-wrap:nowrap;
    }

    .pageid:hover::after{
        display:flex;
    }
    #toHome::after{
        content: "home";
    }
    #toProjects::after{
        content:'projects'
    }
    #toSkills::after{
        content:'technology stack'
    }
    #toContact::after{
        content:'contact'
    }

    .scroll-cl{
        width:30px;
        height:30px;
        padding:9.5px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #pagination{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex:1;
    }
    #scroll{
        width:35px;
        height:110px;
        align-items: center;
        justify-content: space-between;
        position:fixed;
        display:flex;
        z-index:21;
        flex-direction:column;
        right:0px;
        border-top-left-radius:15px;
        border-bottom-left-radius:15px;
        bottom:10px;
        cursor: pointer;
        box-shadow:0px 0px 3px -3px;
        transition:0.5s;
    }
    #scroll:hover{
        background-color:var(--light);
    }
    .skills{
        max-width: 500px;
    }
    .particles{
        display: block;
        width:400px;
        height:400px;
        position: relative;
    }

    .particles::after{
        content:" ";
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        display: block;
        position:absolute;
        opacity:0.5;
        border-top-left-radius:50% 40%;
        border-top-right-radius:30% 40% ;
        border-bottom-right-radius:50% 50%;
        border-bottom-left-radius:40% 20% ;
        background-color:var(--light2);
        animation: murf 20s linear infinite alternate;
    }
    #socials-content{
        display: flex;
        flex-direction: column;
        gap:20px;
    }
    .particles img{
        z-index:2;
        position:absolute;
    }
    #span1{
        font-weight: 900;
        font-size:2rem;
    }
    button{
        height:40px;
    }
    .container{
        width:80%;
    }
    #divide{
        width:7px;
        height:calc(100% - 50%);
        top:calc(height/2);
        background-color:var(--color4);
        position: absolute;
        left:0px;
        border-radius:60px;
    }
    nav .container{
        width:98%;
    }
    .img2{
        width:450px;
        height:450px;
    }
    .col1_1{
        width:52%;
    }
    .col2_1{
        width:48%;
        position:relative;
    }
    .col1_1{
        padding-right:50px;
        padding-left:50px;
        justify-content: flex-end;
    }
    .project{
        width:250px;
        height:200px;
        border: 0px;
    }
    .project:nth-child(even){
        height:230px;
        transform:translateY(-30px)
    }
    .project:nth-child(2){
        transform:translateY(0px)
    }
    #line{
        font-weight: 700;
    }
    h1{
        font-size:2.2rem;
    }
    input,textarea{
        width:350px;
    }
    input{
        height:35px;
    }
    .block{
        height:100px;
        display: flex;
        border-radius:5px;
        z-index:2;
        position: relative;
    }
    .blocks{
        width:100%;
        height:100%;
        display:flex;
        flex-wrap: wrap;
        gap:2px;
    }
    .block::after{
        content:' ';
        width:100%;
        height:100%;
        border-radius: inherit;
        display: block;
        top:0px;
        left:0px;
        background-color: var(--light);
        position: absolute;
    }
    .block:hover::after{
        /* background-color:#e4e9f0; */
        transform: scale(0.1) rotateZ(30deg) rotateX(600deg);
        transition:3s;
    }
    #background{
        background-color: var(--light2);
    }
    #section1 .container{
        gap:20px;
        padding:0px 15px;
    }
    #scroll-down{
        transform: rotate(90deg);
    }
    #scroll-up{
        transform: rotate(-90deg);
    }
    
}
@keyframes moving{
    0%,100%{
        transform:translateX(-5px) 
    }
    50%{
        transform:translateX(5px)
    }
}
@keyframes murf {
    0%{
        border-top-left-radius:15% 15%;
        border-top-right-radius:40% 40%;
        border-bottom-left-radius:50% 50%;
        border-bottom-right-radius:50% 50%;
        transform:translateX(0px);
        transform:translateY(2px);
    }
    20%{
        border-top-left-radius:50% 50%;
        border-top-right-radius:25% 25%;
        border-bottom-right-radius:35% 35%;
        border-bottom-left-radius:30% 30%;
        transform:translateX(2px);
        transform:translateY(0px);
    }
    40%{
        border-top-left-radius:40% 40%;
        border-top-right-radius:50% 50%;
        border-bottom-left-radius:40% 40%;
        border-bottom-right-radius:27% 27%;
    }
    60%{
        border-top-left-radius:39% 39%;
        border-top-right-radius:40% 40%;
        border-bottom-left-radius:50% 50%;
        border-bottom-right-radius:25% 25%;
        transform:translateX(3px);
        transform:translateY(0px);
    }
    80%{
        border-top-left-radius:25% 60%;
        border-top-right-radius:40% 40%;
        border-bottom-left-radius:45% 45%;
        border-bottom-right-radius:30% 30%;
        transform:translateX(0px);
        transform:translateY(3px);
    }
    100%{
        border-top-left-radius:50% 50%;
        border-top-right-radius:25% 25%;
        border-bottom-right-radius:30% 30%;
        border-bottom-left-radius:20% 20%;
        transform:translateX(0px);
    }
}

@keyframes showup{
    to{
       transform:scale(100);
    }
}
@keyframes twitch{
    0%,100%{
       transform:rotate(0deg);
    }
    20%{
        transform:rotate(3deg);
    }
    40%{
        transform:rotate(-3deg);
    }
    60%{
        transform:rotate(1deg);
    }
    80%{
        transform:rotate(-1deg);
    }
}
@keyframes grow{
    to{
      opacity:1;
    }
}

@keyframes drop{
    0%{
        transform:translateY(-100px);
    }
    20%{
        transform:translateY(0px);
    }
    40%{
        transform:translateY(-8px);
    }
    60%{
        transform:translateY(0px);
    }
    80%{
        transform:translateY(-2px);
    }
    100%{
        transform:translateY(0px);
    }
}
@keyframes float{
    to{
        transform:translateY(-1000px);
    }
}
@keyframes rock{
    0%,100%{
        border-top-left-radius:50% 40px;
        border-top-right-radius:20% 20px;
    }
    50%{
        border-top-right-radius:50% 40px;
        border-top-left-radius:20% 20px;
    }
}
@keyframes chameleon{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes clicked {
    0%,100%{
        transform:scale(1)
    }
    50%{
        transform:scale(0.9)
    }
}
@keyframes rotate {
    from {
        transform: rotateX(0deg)
    }
    to {
        transform: rotateX(90deg)
    }
}
@keyframes rotate2 {
    from {
        transform: rotateX(0deg) rotateY(0deg)
    }
    to {
        transform: rotateX(360deg) rotateY(360deg)
    }
}
@keyframes rotateon {
    from {
        transform: rotateZ(0deg)
    }
    to {
        transform: rotateZ(360deg)
    }
}

@keyframes slidein{
    from {
        transform:translateX(-50px);
        opacity:0;
    }
    to{
        transform:translateX(0px);
        opacity:1;
    }
}